#drawer_btn{
    -fx-background-color: #76a2ff;
    -fx-background-radius: 0px;
    -fx-max-width: infinity;
    -fx-max-height: infinity;
}

#drawer_btn:hover{
    -fx-background-color: #5289FF;
}

#logout_btn{
    -fx-background-color: #eeeeee;
    -fx-background-radius: 0px;
    -fx-max-width: infinity;
    -fx-max-height: infinity;
}

#logout_btn:hover{
    -fx-background-color: #dddddd;
}