* {
    -primary-light-color: #81D4FA;
    -primary-dark-color: #03A9F4;
    -secondary-light-color: #3167BF; //#1B56B4; //#0D46A0; //#B39DDB;
    -secondary-dark-color: #0033B4; //#002071; //#673AB7;
    -accent-light-color: #FFCC80;
    -accent-dark-color: #FFA726;
}

// MAIN
#loginpane {
    -fx-background-color: transparent;
    -fx-background-image: url("/res/images/background.png");
    -fx-background-repeat: no-repeat;
    -fx-border-color: black;
}

#bookingpane {
    -fx-background-color: silver;
}

#top_toolbar {
    -fx-background-color: -primary-dark-color;
    -fx-border-width: 0 0 0.8 0;
    -fx-border-color: black;
}

#pane {
    -fx-background-color: -primary-light-color;
}

#confirm_booking_pane {
    -fx-background-color: -accent-light-color;
}

#hamburger_menu {
    -fx-background-color: white;
}

#hamburger_menu_opacity {
    -fx-background-color: silver;
    -fx-opacity: 0.65;
}

#bottom_toolbar {
    -fx-border-width: 0.8 0 0 0;
    -fx-border-color: black;
}

// BUTTONS

#btn {
    -fx-background-color: -accent-dark-color;
}

#btn:hover {
    -fx-background-color: -accent-light-color;
}

#btn-no-background {
    -jfx-rippler-fill: -accent-dark-color;
}

#btn-no-background:hover {
    -fx-background-color: -accent-light-color;
}

#drawer_btn {
    -fx-background-radius: 0 15 15 0;
    -fx-alignment: BASELINE_LEFT;
    -fx-margin: 0 5 5 5;
    -fx-padding: 0 0 0 20;
}

#drawer_btn:hover {
    -fx-background-color: -accent-light-color;
}

#logout_btn {
    -fx-background-color: silver;
}

#logout_btn:hover {
    -fx-background-color: -accent-light-color;
}

#checkbox {
    -jfx-checked-color: -accent-dark-color;
}

#datepicker {
    -fx-font-size: 13px;
    -jfx-default-color: -secondary-dark-color;
}

#toggle {
    -jfx-toggle-color: -secondary-dark-color;
    -fx-border-color: -secondary-light-color;
    -fx-border-radius: 5px;
}

#toggle:hover {
    -fx-text-fill: white;
    -fx-background-color: -secondary-light-color;
}

#toggle:selected {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}


// ETC
.fullsize {
    -fx-max-width: infinity;
    -fx-max-height: infinity;
}

.table_column {
    -fx-border-width: 0 1 0 1;
    -fx-border-color: -primary-dark-color;
}

.column-header.table_column {
    -fx-background-color: -primary-dark-color;
}

.column-header.table_column .label {
    -fx-text-fill: black;
}

.booking-top-pane {
    -fx-background-radius: 0 0 20 0;
    -fx-border-color: gray;
    -fx-border-radius: 0 0 20 0;
    -fx-border-width:  0 0.8 0.8 0;
}

.booking-bottom-pane {
    -fx-background-radius: 0 20 0 0;
    -fx-border-color: gray;
    -fx-border-radius: 0 20 0 0;
    -fx-border-width:  0.8 0.8 0 0;
}

.no-radius {
    -fx-background-radius: 0;
}

.tiny-radius {
    -fx-background-radius: 5;
}

.semi-radius {
    -fx-background-radius: 20;
}

.perfect-radius {
    -fx-background-radius: 50;
}

.selected_menu {
    -fx-background-color: -accent-dark-color;
}

.selected_menu:hover {
    -fx-background-color: -accent-dark-color !important;
}